@model desafioLar.Models.Pessoa

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar</h1>

<hr />

    <form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nmNome" class="control-label">Nome</label>
                <input asp-for="nmNome" class="form-control" />
                <span asp-validation-for="nmNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nmCPF" class="control-label">CPF</label>
                <input id="nmCPF" asp-for="nmCPF" class="form-control cpf-mask" />
                <span asp-validation-for="nmCPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtNascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="dtNascimento" id="dtNascimento" class="form-control" min="01/01/2018" max="31/12/2064" type="date" />
                <span asp-validation-for="dtNascimento" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="flAtivo" /> Ativo
                </label>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefones">Telefones</label>

                    <div id="telefones"></div>

                    <button type="button" class="btn btn-secondary mt-2" id="addTelefone">Adicionar Telefone</button>
                    <button id="removerUltimoTelefone" class="btn btn-danger mt-2">Remover Último Telefone</button>

                </div>
            </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
